main {
    padding: 20px 20px 30px 20px;
}

.Qs-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.Qs-buttons div {
    display: flex;
    align-items: center;
}

.Qs-buttons button {
    color: rgb(255, 255, 255);
    background-color: rgb(131, 151, 232);
    font-size: 22px;
    padding: 10px 20px;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 5px 5px black;
}

.Qs-buttons button:hover{
    transform: scale(1.03);
    color: rgb(0, 0, 0);
}

#Q-number {
    color: black;
    font-size: 25px;
    margin-left: 30px;
}

article {
    margin-top: 20px;
    width: 70%;
    align-items: center;
    justify-content: center;
}

article p {
    font-size: 20px;
    font-weight: 500;
}

.answer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

#show-ans {
    color: rgb(23, 89, 176);
    font-weight: 700;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    box-shadow: 5px 5px black;
        transition: 0.5s;
}

#show-ans:hover{
    transform: scale(1.03);
    color: rgb(0, 0, 0);
}

#answer {
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}